*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
  
    background-color: white;
    margin-bottom: 40px;
}

.logo{
    padding: 10px 0 10px 20px;
    vertical-align: middle;
}


h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 45px;
}

body{
    background-color:whitesmoke;
    font-family: 'Roboto', sans-serif;
}


.container{
    margin: 0 auto;
    max-width: 800px;
    background-color: white;
}

.customPadding{
    padding: 15px 0 15px 50px;
}

.blueBack{
    background-color: rgb(111, 139, 250);
}   

.whiteFont{
    color: white;
}

.navButton{
    border-radius: 5px;

}

.greyFont{
    color:grey
}

.greenCircle{
    border-radius: 50%;
    border: 1px solid rgb(0, 249, 37);;
    width: 23px;
    text-align: center;
    color:rgb(0, 249, 37);
    display: inline-block;
    margin-right: 5px;
}

p{
    display: inline-block;
}

button{
    width: 90px;
    height: 25px;
    border: none;
    border-radius: 15px;
  
}

.redCircle{
    border-radius: 50%;
    border: 1px solid rgb(249, 0, 0);;
    width: 23px;
    text-align: center;
    color:rgb(249, 0, 0);
    display: inline-block;
    margin-right: 5px;
}

.violetBack{
    background-color: blueviolet;
}

.greenBack{
    background-color: greenyellow;
}

.orangeBack{
    background-color: orange;
}

.customMargin{
    margin-bottom: 15px;
}

.sectionMargin{
    margin-bottom: 20px;
}

.darkgreenBack{
    background-color: darkolivegreen;
}

.violredBack{
    background-color: mediumvioletred;
}

.button:not(.navButton){
    margin-left: 5px;
}